/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500i,800&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:900|Nunito+Sans:300,400&display=swap');
/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

header{
    margin: 0 auto;
    text-align: left;
    /* padding:150px 0; */
    padding:0 150px;
    padding-top: 150px;
}

header h1{
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    font-size: 100px;
    color: white;

}

header h1,
header h1:after,
header h1:before {
  transition: all 1s;
}
header h1:hover {
  color: #c3a6ff;
}
header h4{
    font-size: 16px;
    font-weight: normal;
    margin: 0px 0px 20px 3px;
    font-family: 'Nunito Sans';
    font-weight: 300;
    color: white;
    height: 0;
}
header h3{
    font-weight: 400;
    font-size: 20px;
    color: white;
    opacity: 0.6;
    margin:0;
    /* margin-bottom: 40px; */
}

header a{
    color: #c3a6ff;
    background-color: transparent;
    font-size: 14px;
    font-family: 'Nunito Sans';
    line-height: 0.5;
    cursor: pointer;
    margin-top: 40px;
    border-width: 3px;
    border-style: solid;
    border-color:#c3a6ff;
    border-image: initial;
    border-radius: 20px;
    padding: 0.8rem 1.75rem;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

header a:hover{
    background-color: #be95ff28;
    /* opacity: 0.5; */
}