@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500i,800&display=swap');

header{
    margin: 0 auto;
    text-align: center;
    padding-top:270px;
}

header h1{
    margin: 0;
    font-weight: 800;
    font-size: 6rem;
    color: white;

}

header p{
    font-weight: 400;
    font-size: 1rem;
    color: white;
    margin-bottom: 30px;
}

header a{
    font-weight: 500i;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    display: inline-block;
}