.logo{
    font-size: 20px;
    font-weight: 900;
    color:#fff;

}

nav{
    display: flex;
    justify-content: space-between;
    background: #703fa6;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}